#page-local-announcements-post {
  #fitem_id_moderatorjson {
    display: none;
  }
  #id_moderation {
    display: none;
    &.show {
      display: block !important;
    }
  }
  #fgroup_id_buttonar {
    .col-md-3 {
      display: none !important;
    }
    .col-md-9 {
      padding: 20px 25px;
    }
  }
  .fdescription.required {
    display: none;
  }
}

