{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_announcements
    @copyright 2020 Michael Vangelovski, Canberra Grammar School <michael.vangelovski@cgs.act.edu.au>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_announcements/impersonate_autocomplete

    View for the impersonate autocomplete field.
}}
<div class="impersonate-selector row form-group"{{#wildcard}} data-wildcard="true"{{/wildcard}}{{#users}} data-hasresults="true"{{/users}}>
    <div class="col-md-3">
        <label class="col-form-label d-inline " for="impersonate-autocomplete">
            {{#str}}postform:impersonate, local_announcements{{/str}}
        </label>
    </div>
    <div class="col-md-9">
        <div class="impersonate-selection"></div>
        <input type="text" name="impersonate-autocomplete" class="form-control impersonate-autocomplete" {{#wildcard}}placeholder="{{#str}}postform:impersonateplaceholder, local_announcements{{/str}}"{{/wildcard}} {{^wildcard}}placeholder="{{#str}}postform:impersonateplaceholderdd, local_announcements{{/str}}" readonly{{/wildcard}} aria-expanded="false" autocomplete="off" autocorrect="off" autocapitalize="off" aria-autocomplete="list">
        <div class="impersonate-results">
            {{>local_announcements/impersonate_selector_results}}
        </div>
    </div>
</div>