{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_announcements
    @copyright 2020 Michael Vangelovski, Canberra Grammar School <michael.vangelovski@cgs.act.edu.au>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_announcements/message_announcement_email

    View for a single announcement.
}}

<table class="announcement" role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-bottom:18px;">
                <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" style="border:1px solid #d8dee4;background-color:#ffffff;">
                    <tbody>
                        <tr>
                            <td style="padding:14px 16px;">

                                <table data-id="{{id}}" class="announcement-content {{^isavailable}}unavailable{{/isavailable}}" role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="36" valign="top" style="width:36px;"><a href="{{authorurl}}"><img src="{{authorphototokenised}}" width="36" height="36" alt="Picture of {{authorfullname}}" title="Picture of {{authorfullname}}" style="display:block;border-radius:50%;" /></a></td>
                                            <td valign="top" style="padding-left:11px;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#5f6b77;">
                                                From: <span style="color:#1d2733;font-weight:bold;">{{authorfullname}}</span>{{#authorjobpositions}} ({{authorjobpositions}}){{/authorjobpositions}}<br>
                                                To: {{#audiences}}{{#conditions}}{{name}}{{^last}} + {{/last}}{{/conditions}}{{^last}}, {{/last}}{{/audiences}}
                                            </td>
                                            <td valign="top" align="right" width="105" style="width:105px;font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#909aa5;white-space:nowrap;">{{readabletime}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div style="font-family:Georgia,'Times New Roman',serif;font-size:16px;font-weight:bold;color:#1d2733;line-height:21px;padding:12px 0 11px;">{{subject}}</div>

                                <table class="message" role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-top:1px solid #e4e9ee;">
                                    <tbody>
                                        <tr>
                                            <td height="11" style="height:11px;font-size:0;line-height:0;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#1d2733;line-height:20px;">
                                                {{{emailmessage}}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{#attachmentstokenized.0}}
                                <table class="attachments" role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="padding-top:10px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#5f6b77;">
                                                {{#attachmentstokenized}}
                                                    <a target="_blank" href="{{path}}">{{filename}}</a>{{^last}}, {{/last}}
                                                {{/attachmentstokenized}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{/attachmentstokenized.0}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
