{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_announcements
    @copyright 2020 Michael Vangelovski, Canberra Grammar School <michael.vangelovski@cgs.act.edu.au>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_announcements/message_announcement_html

    View for a single announcement.
}}

<table class="announcement" border="0" cellspacing="0" cellpadding="20" width="100%">
    <tbody>
        <tr>
            <td class="announcement-padding">
                <table data-id="{{id}}" class="announcement-content {{^isavailable}}unavailable{{/isavailable}}" border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                        <tr>
                            <td>

                            <table class="subject" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>{{subject}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="45" valign="top" class="picture left">{{{ authorphototokenised }}}</td>
                                            <td>
                                                <table class="metainfo" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="from">From: {{authorfullname}}</td>
                                                            <td class="time">{{readabletime}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="audiences">
                                                                To: {{#audiences}}{{#conditions}}{{name}}{{^last}} + {{/last}}{{/conditions}}{{^last}}, {{/last}}{{/audiences}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr> 
                                            <td height="10"></td> 
                                        </tr>
                                    </tbody>
                                </table>

                                                
                                <table class="message" border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{{messagetokenized}}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{#attachmentstokenized.0}}
                                <table class="attachments" border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{#attachmentstokenized}}
                                                    <a target="_blank" href="{{path}}">{{{iconimage}}} {{filename}}</a>{{^last}}, {{/last}}
                                                {{/attachmentstokenized}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{/attachmentstokenized.0}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
