{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_announcements
    @copyright 2020 Michael Vangelovski, Canberra Grammar School <michael.vangelovski@cgs.act.edu.au>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_announcements/post_modal_confirm

    View for the confirm modal.
}}
{{#items.0}}
<div>
    <p>It looks like you are in the middle of selecting audience items. The following items are ticked but not added:</p>
    <ul>
    {{#items}}
    	<li>{{name}}</li>
    {{/items}}
    </ul>
    <p>Do you want to ignore these and post the announcement anyway?</p>
</div>
{{/items.0}}
{{^items.0}}
    {{#hastags}}<p>It looks like you are in the middle of creating an audience intersection. Do you want to this and post the announcement anyway?</p>{{/hastags}}
{{/items.0}}
